header{
    font-size: 13px;
}
body{
    font-family: Arial;
    text-align: center;
}
.p-1{
    font-size: 14px;
}
h1{
    text-align: center;
}
#text-1{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
}
#home-col1{
	width: 29%; 
	float: left;
	margin-right: 2%;
	margin-left: 2.5%;
        text-align: center;
}
#home-col2{
	width: 29%; 
	float: right;
	margin-right: 2%;
	margin-left: 2%;
        text-align: center;
}
#home-col3{
	width: 29%; 
	float: right;
	margin-right: 2.5%;
	margin-left: 2%;
        text-align: center;
}
.button{
        height: 33px;
        width: 90px;
        background-color: white;
        border-radius: 17%;
        border-color: black;
        border-width: 2px;
        cursor: pointer;
}
.button-apagar{
        height: 23px;
        width: 80px;
        background-color: white;
        border-color: black;
        border-width: 1px;
        cursor: pointer;
}
footer{
    font-size: 13px;
    clear: both; 
}
label{
    text-align: right;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    font-size: 13px;
}
