a{
    text-decoration: none;
    color: black;
}
body{
    font-family: Arial;
    text-align: center;
    background-color: #98FB98;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.p-1{
    font-size: 14px;
}
h1{
    text-align: center;
}
th{
    background-color: #43CD80;
}
#oque-div{
    background-color: #43CD80;
    height: 10%;
    width: 75%;
    margin-left: 12.5%;
    padding-top: 1px;
}
#team{
    background-color: #43CD80;
    clear: both; 
    padding-top: 0.1%;
    padding-bottom: 0.01%;
    display: table;
}
.equipe{
    border-radius: 70%;
    height: 40%;
    width: 40%;
}
#logo{
    float: left;
    height: 80%;
    width: 8%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 70%;
}
#title{
    background-color: #3CB371;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100px;
    font-size: 16px;
}
#title-div{
    float: left;
    text-align: right;
}
#menu{
    float: right;
    text-align: left;
    margin-top: 10px;
    margin-right: 30px;
}
#title-h1{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 32px;
}
#text-1{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 16px;
}
#col{
    display: table;
}
#home-col1{
	width: 28%; 
	float: left;
	margin-right: 1.5%;
	margin-left: 2%;
        margin-bottom: 5%;
        text-align: center;
        background-color: #43CD80;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        border-radius: 10%;
}
#home-col2{
	width: 28%; 
	float: right;
	margin-right: 1.5%;
	margin-left: 1.5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: #43CD80;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        border-radius: 10%;
}
#home-col3{
	width: 28%; 
	float: right;
	margin-right: 2%;
	margin-left: 1.5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: #43CD80;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        border-radius: 10%;
}
.button{
        height: 38px;
        width: 100px;
        background-color: #3CB371;
        font-weight: bold;
        border-radius: 10%;
        border-color: black;
        border-width: 1px;
        cursor: pointer;
}
.button-apagar{
        height: 23px;
        width: 80px;
        background-color: #4EEE94;
        border-color: black;
        border-width: 1px;
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 2%;
        border-radius: 10%;
}
footer{
    font-size: 13px;
    clear: both; 
    background-color: #3CB371;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    min-height: 70px;
    font-size: 16px;
    
}
label{
    text-align: right;
    display: inline-block;
    width: 120px;
    font-weight: bold;
    font-size: 13px;
}
table{
    margin-bottom: 1%;
    margin-top: 2%;   
}
#team-1{
	width: 38%;
        float: left;

	margin-right: 1%;
	margin-left: 9%;
        margin-bottom: 5%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
}
#team-2{
	width: 38%; 
        float: right;
        
	margin-right: 9%;
	margin-left: 1%;
        margin-bottom: 5%;
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
}
#input{
    border-radius: 5%;
    background-color: #90EE90;
    border-color: black;
    border-width: 1px;
    height: 20px;
    font-size: 14px;
}
